* { 
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
html, body, #app, main{
    width: 1000px; // 1000px适配A4纸张
    color: #1E2430;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color: #1E2430;
}
.flex-wrapper{
    display: flex;
}
.mb30{
    margin-bottom: 30px;
}